.LeftSide {
    display: flex;
    height: 100vh;
    width: 60%;
}
.formzim {
    position: relative;
    margin-top: 5%;
    margin-left:auto;
    margin-right:auto;
}
.container{
    border: 2px solid black;
    border-spacing: 2px;
    border-radius: 20px;
}
.titulo{
    position: relative;
    margin-top: 2%;
}