.rightSide {
    height: 100vh;
    width: 40%;
    background-color: rgb(230, 230, 230);
    display: flex;
}

.productImg {

    height: 64px;
    width: 64px;
    object-fit: contain;
}

.productName {
    position: relative;
}

.header {
    display: flex;
    border: 1px solid red;
    justify-content: left;
    align-items: center;
    height: 100px;
    width: 10000px;
    margin: 50px
}